html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to right bottom, rgb(206, 213, 248), rgb(255, 228, 253));
}

nav {
  color: white;
  font-family: 'nunito';
  font-size: 60px;
  text-align: center;
  border-radius: 8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 800;
}

.container {
  background-color: white;
  border: 1px solid rgb(190, 190, 190);
  margin: 20px;
  margin-top: 0;
  border-radius: 10px;
  min-height: 620px;
  max-width: 100%;
  box-shadow: 5px 5px 5px rgba(135, 135, 135, 0.1);
}

.mapContainer {
  margin-left: 30px;
  margin-right: 30px;
  width: 30%;
  margin-left: 50px;
}

.displayBox {
  align-self: flex-start;
  width: 930px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  height: 570px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

#reviewLabel {
  margin: 0;
}

#reviewForm {
  display: flex;
  align-items: center;
}

#reviewInput {
  width: 310px;
  height: 15px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 3px 5px;
}

#placeInput {
  width: 300px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px;
}

#add, #addPlace {
  padding: 2px 9px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}

#add:hover, #addPlace:hover {
  cursor: pointer;
}

.marketBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  width: 430px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  transition:0.3s;
}

.marketBox:hover {
  transform: scale(1.03);
  box-shadow: 7px 7px 7px rgba(0,0,0,0.1);
}

.details-and-delete {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.details {
  padding: 10px;
}

.thumbs {
  border-left: none;
  border-bottom: none;
  border-top: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
  background-color: transparent;
  position: relative;
  width: 50%;
  margin: 0;
  padding-top: 5px;
 }

 .thumbs:hover {
  cursor: pointer;
 }

 .thumbs2 {
  border: none;
  border-top: 1px solid rgb(197, 197, 197);
  background-color: transparent;
  position: relative;
  width: 50%;
  margin: 0;
  padding-top: 5px;
 }

.thumbs2:hover {
  cursor: pointer;
}

#city {
  font-size: 15px;
  margin: 0;
  color: gray;
}

#name {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.pac-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
   Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
 }
 .pac-item, .pac-item-query {
  color: black;
  height: 50px;
 }
 .pac-item:hover {
  background: #6666;
 }

 #review {
  border: 1px solid gray;
  border-radius: 10px;
  width: 360px;
  padding: 5px;
 }

#delete {
  background-color: transparent;
  border: none;
  margin: 10px;
  font-size: 15px;
}

#delete:hover {
  cursor: pointer;
}

.innerbox {
  display: flex;
  align-items: center;
}

.outerBox {
  align-self: flex-start;
  background-color: white;
}

.editButton {
  background-color: rgb(228, 240, 251);
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 3px 20px;
  box-shadow: 5px 5px 5px rgba(135, 135, 135, 0.1);
}

.editButton:hover {
  cursor: pointer;
}



